<router-outlet></router-outlet>

<!--<li><a [routerLink]="['home']">Home</a></li>-->

<!--<div [ngClass]="classes">Atom</div>-->

<!--<p *ngIf="test">Shows when its true</p>-->


<h2> Ninja Listing</h2>
<form id="filter">
  <label>Filter ninjas by name</label>
  <input type="text" [(ngModel)]="term">
</form>
<ul id="ninja-listing">
  <li *ngFor="let ninja of ninjas | findYrNinja:term">
    <div class="single-ninja">
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
      <h3>{{ninja.name | uppercase  | slice:1:3}}</h3>
    </div>
  </li>
</ul>
